.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 4px 22px rgba(0,0,0,0.1);
}
textarea{
    resize: none;
    width: 100%;
    height: 260px !important;
}